.*
*.pyc
*~
processed.pkl
!/.gitignore

*.script
*.script.*

casimir/scuffCode/*.log
casimir/scuffCode/PEC_calculation/BeadPEC*
casimir/scuffCode/PEC_Temp/BeadPEC*
casimir/scuffCode/CubeSphere/BeadCube*
casimir/scuffCode/CubeSphereSG/Bead*

casimir/scuffCode/CubeSphereAspect/BeadCube*